:root {
    --main-text-color: #212121;
    --paragraph-color: #757575;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --button-hover-color: #2196F3;
    --button-background-color: #F5F4FA;
    --text-title-button-color: #FFFFFF;
    --background-footer: #2F303A;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--text-title-button-color);
    color: var(--main-text-color) ;
 
}   

/* page home*/
/*header*/
.logo {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    
    color: black;
}

.logo-web {
    color: var(--button-hover-color);
}

.list {
    list-style: none;
}

.site .link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--main-text-color);
}

.site .link.current {
    color: var(--button-hover-color);
}

.site .link:hover, 
.site .link:focus {
    color: var(--button-hover-color);
}

/*contact*/
.auth .link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    color: var(--paragraph-color);
}

.auth .link:hover,
.auth .link:focus {
    color: var(--button-hover-color);
}

/*main*/
/*hero*/
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--text-title-button-color);
    background-color: var(--background-footer);
}

/*button*/

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    background-color: var(--button-hover-color);
    color: var(--text-title-button-color);
    }

/*section*/

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--main-text-color);
}

/*Преимущества*/

.feature-list .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    
    color: var(--main-text-color);
}

.feature-list .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--paragraph-color);
}

/*команда*/
.section .group {
    background-color: var(--button-background-color);
}

.team .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text-color);
}

.team .position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--paragraph-color);
}

/*footer*/
.background {
    background-color: var(--background-footer);
}

.address {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--text-title-button-color);
    }
.logo-studio {
    color: var(--text-title-button-color);
}

 .contacts .link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--footer-text-color);  
}






/*page portfolio*/

.button .illuminated{
background-color:var(--button-background-color);
}

.filter .illuminated{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    background-color: var(--button-background-color);
    color: var(--main-text-color);
}

.filter .illuminated:hover, 
.filter .illuminated:focus {
    background-color: var(--button-hover-color);
    color: var(--text-title-button-color);
}

/*страницы портфолио*/
.objects .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}

.objects .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
}